.popup__input {
    max-width: 358px;
    width: 83%;
    margin: 0px 36px 30px 36px;
    font-family: "Inter", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    border: 0;
    padding-bottom: 13px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    outline: none;
}

@media screen and (min-width: 320px) and (max-width:509px) {
    .popup__input {
        max-width: 238px;
        width: 100%;
        margin: 0px 22px 30px 22px;
    }
}