.header {
    max-width: 882px;
    margin: 0 auto;
    padding: 45px 0 40.6px 0;
    background-color: #000000;
    display: flex;
    align-items: flex-start;
    border-bottom: 1px solid rgba(84, 84, 84, .7);
}

@media screen and (max-width: 1023px) {
    .header {
        padding: 28px 0 31.6px 27px;
    }
}