.elements {
    width: 68.75%;
    max-width: 882px;
    margin: 47px auto 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, 280px);
    grid-column-gap: 18px;
    grid-row-gap: 21px;
    justify-content: center;
}